@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-reverse {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

.animate-scroll {
    animation: scroll 30s linear infinite;
    display: flex;
    width: max-content; 
}

.animate-scroll-reverse {
    animation: scroll-reverse 30s linear infinite;
    display: flex;
    width: max-content; 
}